/* 
COLORS
PRIMARY
Purple 50: hsl(260, 100%, 95%)
Purple 300: hsl(264, 82%, 80%)
Purple 500: hsl(263, 55%, 52%)

NEUTRAL
White: hsl(0, 0%, 100%)
Grey 100: hsl(214, 17%, 92%)
Grey 200: hsl(0, 0%, 81%)
Grey 400: hsl(224, 10%, 45%)
Grey 500: hsl(217, 19%, 35%)
Dark blue: hsl(219, 29%, 14%)
Black: hsl(0, 0%, 7%)

TYPOGRAPHY
DODY COPY
Font size: 13px

FONT
Family: Barlow Semi Condensed
Weights: 500, 600
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.8rem;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.grid-container {
  display: grid;
  padding: 2.3rem;
  gap: 1.5rem;
  justify-items: center;
}

.box {
  display: grid;
  padding: 2.8rem;
  inline-size: 30.7rem;
  border-radius: 0.5rem;
  row-gap: 0.7rem;
  position: relative;
  box-shadow: 3.6rem 4.8rem 13.4rem 0.3rem rgba(0, 0, 0, 0.504);
}

.header {
  display: flex;
  gap: 1.1rem;
  inline-size: 14.6rem;
}

.img {
  border-radius: 50%;
  width: 2.6rem;
  inline-size: 2.6rem;
}

.box1 {
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
}

.box1 .img {
  border: 0.2rem solid hsl(264, 82%, 80%);
}

.name {
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-inline-end: 0.2rem;
  font-weight: 500;
}

.box1 .identity {
  color: hsl(260, 100%, 95%);
}

.icon {
  position: absolute;
  inset-inline-end: 2.8rem;
  inset-block-start: 0.6rem;
  z-index: 0;
}

.primary-text {
  font-size: 1.64rem;
  z-index: 1;
  font-weight: 600;
}

.secondary-text {
  line-height: 1.6rem;
  font-size: 1.17rem;
}

.box1 .secondary-text {
  color: hsl(260, 100%, 95%);
}

.box2 {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}

.box2 .img {
  border: 0.2rem solid hsl(224, 10%, 45%);
}

.box2 .identity {
  color: hsl(0, 0%, 81%);
}

.box2 .secondary-text {
  color: hsl(214, 17%, 92%);
}

.box3,
.box5 {
  background-color: hsl(0, 0%, 100%);
}

.box3 .name,
.box5 .name {
  color: hsl(217, 19%, 35%);
}

.box3 .identity,
.box5 .identity {
  color: hsl(224, 10%, 45%);
}

.box3 .primary-text,
.box5 .primary-text {
  color: hsl(217, 19%, 35%);
}

.box3 .secondary-text,
.box5 .secondary-text {
  color: hsl(224, 10%, 45%);
}

.box4 {
  color: hsl(0, 0%, 81%);
  background-color: hsl(219, 29%, 14%);
}

.box4 .img {
  border: 0.2rem solid hsl(263, 55%, 52%);
}

@media (min-width: 93rem) {
  .grid-container {
    align-content: center;
    justify-content: center;
    grid-template-columns: 112.3rem;
    grid-template-rows: 46.8rem;
    block-size: 100vh;
  }

  .box {
    grid-column: 1;
    grid-row: 1;
  }

  .box1 {
    inline-size: 56.4rem;
    align-self: start;
    justify-self: start;
    block-size: 23.4rem;
  }

  .box2 {
    inline-size: 25.1rem;
    align-self: start;
    justify-self: center;
    margin-inline-start: 29.5rem;
    block-size: 23.4rem;
  }

  .box3 {
    inline-size: 23.9rem;
    block-size: 21.2rem;
    justify-self: start;
    align-self: end;
  }

  .box4 {
    inline-size: 57rem;
    block-size: 21.2rem;
    align-self: end;
    margin-inline-end: 2.3rem;
  }

  .box5 {
    align-self: start;
    justify-self: end;
    block-size: 46.8rem;
    inline-size: 26.6rem;
  }
}
