:root {
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);

  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);

  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);

  --font-weight-500: 500;
  --font-weight-600: 600;

  --font-size: 13px;

  --font-family-primary: "Barlow Semi Condensed";
}

/* MOBILE FIRST APPROACH */
/* GENERAL STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.8rem;
  font-family: var(--font-family-primary), sans-serif;
}

.grid-container {
  display: grid;
  padding: 2.3rem;
  gap: 1.5rem;
  justify-items: center;
}

.box {
  display: grid;
  padding: 2.8rem;
  inline-size: 30.7rem;
  border-radius: 0.5rem;
  row-gap: 0.7rem;
  position: relative;
  box-shadow: 3.6rem 4.8rem 13.4rem 0.3rem rgba(0, 0, 0, 0.504);
}

.header {
  display: flex;
  gap: 1.1rem;
  inline-size: 14.6rem;
}

.img {
  border-radius: 50%;
  width: 2.6rem;
  inline-size: 2.6rem;
}

.name {
  font-weight: var(--font-weight-600);
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-inline-end: 0.2rem;
  font-weight: var(--font-weight-500);
}

.primary-text {
  font-size: 1.64rem;
  z-index: 1;
  font-weight: 600;
}

.secondary-text {
  line-height: 1.6rem;
  font-size: 1.17rem;
}

/* INDIVIDUAL STYLING */
.box1 {
  background-color: var(--Purple-500);
  color: var(--White);
}

.box1 .img {
  border: 0.2rem solid var(--Purple-300);
}

.box1 .identity {
  color: var(--Purple-50);
}

.box1 .icon {
  position: absolute;
  inset-inline-end: 2.8rem;
  inset-block-start: 0.6rem;
  z-index: 0;
}

.box1 .secondary-text {
  color: var(--Purple-50);
}

.box2 {
  background-color: var(--Grey-500);
  color: var(--White);
}

.box2 .img {
  border: 0.2rem solid var(--Grey-400);
}

.box2 .identity {
  color: var(--Grey-200);
}

.box2 .secondary-text {
  color: var(--Grey-100);
}

.box3,
.box5 {
  background-color: var(--White);
}

.box3 .name,
.box5 .name {
  color: var(--Grey-500);
}

.box3 .identity,
.box5 .identity {
  color: var(--Grey-400);
}

.box3 .primary-text,
.box5 .primary-text {
  color: var(--Grey-500);
}

.box3 .secondary-text,
.box5 .secondary-text {
  color: var(--Grey-400);
}

.box4 {
  color: var(--Grey-200);
  background-color: var(--Dark-blue);
}

.box4 .img {
  border: 0.2rem solid var(--Purple-500);
}

/* WRITTEN FOR BIGGER SCREENS */
@media (min-width: 90rem) {
  .grid-container {
    align-content: center;
    justify-content: center;
    grid-template-columns: 112.3rem;
    grid-template-rows: 46.8rem;
    block-size: 100vh;
  }

  .box {
    grid-column: 1;
    grid-row: 1;
  }

  .box1 {
    inline-size: 56.4rem;
    align-self: start;
    justify-self: start;
    block-size: 23.4rem;
  }

  .box2 {
    inline-size: 25.1rem;
    align-self: start;
    justify-self: center;
    margin-inline-start: 29.5rem;
    block-size: 23.4rem;
  }

  .box3 {
    inline-size: 23.9rem;
    block-size: 21.2rem;
    justify-self: start;
    align-self: end;
  }

  .box4 {
    inline-size: 57rem;
    block-size: 21.2rem;
    align-self: end;
    margin-inline-end: 2.3rem;
  }

  .box5 {
    align-self: start;
    justify-self: end;
    block-size: 46.8rem;
    inline-size: 26.6rem;
  }
}
